<style>
    header {background-image: url(/static/images/iron-man.jpg) !important; background-size: contain !important;}
</style>

{% extends 'blog/article.html' %}

{% block title %}Test Webpage{% endblock %}

{% block heading %}A Webpage For Test{% endblock %}
{% block subheading %}{% endblock %}

{% block content %}
<h1 id="AboutW3Schools">
    <a class="h1-anchor" href="#AboutW3Schools">#</a>
    <a href="https://www.w3schools.com/about/default.asp">About W3Schools</a>
</h1>
<h2>
    What is W3Schools?
</h2>
W3Schools is a web developers site, with tutorials and references on web development languages such as HTML, CSS, JavaScript, PHP, SQL, W3.CSS, and Bootstrap, covering most aspects of web programming.
The site derives its name from the World Wide Web (W3), but is not affiliated with the W3C.
W3Schools was originally created in 1998 by Refsnes Data, a Norwegian software development and consulting company.
<h3>
    Easy Learning
</h3>
W3Schools has focus on simplicity.
W3Schools practice easy and straight-forward learning.
W3Schools uses simple code explanations with simple illustrations of how to use it.
W3Schools' tutorials start from basic level and move all the way up to professional references.
<h4>
    Try It Yourself
</h4>
W3schools presents thousands of code examples.
By using an online editor (Try It Yourself), you can edit examples and execute computer code experimentally, to see what works and what does not, before implementing it.
<h5>
    W3Schools is Free
</h5>
W3Schools is, and will always be, a completely free developers resource.
{% endblock %}
