<!DOCTYPE html>
<html>

<head>
    <link href="../../static/css/vendors/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../static/css/footer.css" rel="stylesheet" />
</head>

<body>
    <footer>
        <div class="footer-icons">
            <a href={{home_url}}>
                <div class="footer-icon">
                    <i class="fa fa-github fa-inverse fa-2x"></i>
                </div>
            </a>
            <a href={{home_url}}>
                <div class="footer-icon">
                    <i class="fa fa-rebel fa-inverse fa-2x"></i>
                </div>
            </a>
            <a href={{home_url}}>
                <div class="footer-icon">
                    <i class="fa fa-slack fa-inverse fa-2x"></i>
                </div>
            </a>
            <a href={{home_url}}>
                <div class="footer-icon">
                    <i class="fa fa-yelp fa-inverse fa-2x"></i>
                </div>
            </a>
        </div>
        <div class="footer-text">
            Copyright © Neo's Matrix 2017
        </div>
        <div class="footer-text">
            Theme inspired by Hux&nbsp&nbsp
            <span><i class="fa fa-heart"></i></span>
            &nbsp&nbspProudly powered by Django
        </div>
    </footer>
</body>

</html>
