<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Welcome,tech!</title>

    <link href="../../static/css/home.css" rel="stylesheet" />
    <style>

    </style>
</head>

<body>
    <nav>
        <a id="header-left" href="http://127.0.0.1:8000">
            Laboratory
        </a>
        <a id="header-right">
            About
        </a>
    </nav>
    <header>
        <div class="site-heading">
            <div class="heading">Neo's Matrix</div>
            <!-- <div class="heading">Ivan's Blog</div> -->
            <div class="subheading">Every hacker has her fixation.</div>
        </div>
    </header>

    <!-- Main Contetn -->
    <div class="post-preview">
        <a href="http://127.0.0.1:8000">
            <div class="post-preview-title">
                The Matrix Revolutions
            </div>
            <div class="post-preview-content">
                Why, Mr. Anderson? Why, why, why? Why do you do it? Why? Why get up? Why keep fighting? Do you believe you're fighting for something? For more than your survival? Can you tell me what it is? Do you even know? [becomes visibly agitated] Is it freedom or truth?! Perhaps peace?! Could it be for love?! Illusions, Mr. Anderson, vagaries of perception! Temporary constructs of a feeble human intellect trying desperately to justify an existence that is without meaning or purpose!
            </div>
        </a>
        <div class="post-preview-date">
            Posted on 2017-06-01
        </div>
        <hr />
    </div>
</body>

</html>
