<!DOCTYPE html>
<html>

<head>
    <link href="../../static/css/navigation.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <a class="header-left" href={{home_url}}>
            Laboratory
        </a>
        <a id="header-about" class="header-right">
            About
        </a>
        <a class="header-right">
            Links
        </a>
        <a class="header-right">
            Archives
        </a>
        <a class="header-right">
            Members
        </a>
    </nav>

    <!-- jQuery -->
    <script src="../../static/js/vendors/jquery-3.2.1.js"></script>

    <script src="../../static/js/navigation.js"></script>

</body>

</html>
