body {
    margin: 0px 0px;
    font-family: "Ubuntu";
    /*font-family: Arial,”Helvetica Neue“,”Hiragino Sans GB”,Simsun,sans-self;;*/
}
a:link {
    text-decoration: none;
}
a:hover,a>div:hover {
    color: #0085a1;
    border-color: #0085a1;
}
hr {
    margin: 20px 0;
    border: none;
    border-top: 2px solid rgba(238, 238, 238, 1);
    opacity: 0.5;
}

/*header*/
header {
    color: #ffffff;
    background-image: url(../../static/images/wall.jpg); background-position: center center; background-size: cover;
    text-align: center;
}
div.site-heading {
    padding: 10% 0%;
}
div.heading {
    font-size: 80px;
    font-weight: 600;
}
div.subheading {
    font-family: "Ubuntu Mono";
    font-size: 18px;
}

/*Post preview*/
div.post-preview {
    padding: 30px 0 0 14%;
    width: 50%;
    display: inline-block;
}
div.post-preview-title {
    margin-bottom: 10px;
    color: rgb(64, 64, 64);
    font-size: 30px;
}
div.post-preview-content {
    margin-bottom: 10px;
    color: rgb(163, 163, 163);
    line-height: 1.3;
    font-size: 16px;
    text-align: justify;
}
div.post-preview-date {
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 400px;
    color: rgb(100, 100, 100);
}
div.pagination {
    padding: 15px 25px;
    border: 1px solid rgb(191, 191, 191);
    color: rgb(64, 64, 64);
    font-size: 16px;
    float: right;
}
div.pagination:hover {
    color: #ffffff;
    background-color: #0085a1;
    border-color: #ffffff;
}

/*sidebar*/
div.sidebar {
    padding: 30px 0 0 6%;
    width: 17%;
    display: inline-block;
    vertical-align: top;
}
div.sidebar-title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(128, 128, 128);
}
div.tag {
    display: inline-block;
    margin: 5px 3px;
    padding: 5px 9px;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 1000px;
    font-size: 14px;
    color: rgb(191, 191, 191);
}
div.sidebar-img>img {
    padding-top: 5px;
    max-width: 100%;
}
div.sidebar-content {
    padding: 20px 0 5px 0;
    color: rgb(191, 191, 191);
    font-size: 15px;
}

/*footer*/
footer {
    padding: 40px 0 50px 0;
    text-align: center;
    font-size: 14px;
    color: rgb(119, 119, 119);
    line-height: 1.7;
}
div.footer-icon {
    margin: 0px 5px 30px 5px;
    display: inline-block;
    background-color: rgb(64, 64, 64);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
div.footer-icon>i {
    line-height: 50px;
}
