nav {
    margin: 0px 0px;
    font-family: "Ubuntu";
    /*font-family: Arial,”Helvetica Neue“,”Hiragino Sans GB”,Simsun,sans-self;;*/
    width: 100%;
}
nav>a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
}
nav>a:hover {
    color: rgba(255,255,255,0.8);
}
nav>a.header-left {
    float: left;
    padding: 2% 2%;
}
nav>a.header-right {
    float: right;
    padding: 2% 1%;
}
nav>a#header-about {
    padding-right: 2%;
}
