<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}

    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/static/images/download.png" />
    <title>Neo's Chatroom</title>

    <link href="/static/css/chatroom.css" rel="stylesheet" />
</head>

<body>
    <!-- content -->
    <div class="main-content container">
        <div class="message-pane">
            <div id="message-list" class="rolling">
                <div class="message-wrapper">
                    <div class="message-time">
                        2017-03-13 00:00:00
                    </div>
                    <div class="message-content">
                        <span class="user-name monospaced">Neo</span>@<span class="user-ip">0.0.0.0</span> :
                        <span>Welcome to The Matrix</span>
                    </div>
                </div>
                <div class="message-wrapper">
                    <div class="message-time">
                        2017-03-13 00:00:00
                    </div>
                    <div class="message-content">
                        <span class="user-name monospaced">Tip</span>@<span class="user-ip">0.0.0.0</span> :
                        <span style="background-color:darkblue;padding:2px 2px;"> Press [Enter] to update your name after your typing</span>
                    </div>
                </div>
                <div class="message-wrapper">
                    <div class="message-time">
                        2017-03-13 00:00:00
                    </div>
                    <div class="message-content">
                        <span class="user-name monospaced">Tip</span>@<span class="user-ip">0.0.0.0</span> :
                        <span style="background-color:darkblue;padding:2px 2px;">Press [Ctrl] + [Enter] to send your message after your typing</span>
                    </div>
                </div>
                <div class="message-wrapper">
                    <div class="message-time">
                        2017-03-13 00:00:00
                    </div>
                    <div class="message-content">
                        <span class="user-name monospaced">Tip</span>@<span class="user-ip">0.0.0.0</span> :
                        <span style="background-color:darkblue;padding:2px 2px;">Drag your file(s) to the textbox below for uploading</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-pane">
            <div class="function-pane">
                <button id="scroll-top">Scroll to top</button>
                <button id="scroll-bottom">Scroll to bottom</button>
                <button id="clear">Clear screen</button>
            </div>
            <div class="editor-pane">
                <div class="my-identity">
                    <span contenteditable="true"  spellcheck="false" id="name-editor" class="user-name">Ladykiller</span>@<span id="my-ip" class="user-ip">10.199.199.199</span>
                </div>
                <form id="send-my-message" class="my-message">
                    {% csrf_token %}
                    <input type="hidden" name="name" />
                    <input type="hidden" name="ip" />
                    <textarea name="entered-message" form="send-my-message" id="message-editor" class="rolling" placeholder="Press [Ctrl] + [Enter] to send your message"></textarea>
                </form>
            </div>
        </div>
    </div>

    <!-- rightbar -->
    <div class="rightbar container">
        <div class="user-pane">
            <div id="user-list" class="rolling">
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static "vendors/jquery-3.2.1/jquery-3.2.1.js"%}"></script>

    <!-- django csrf preotection -->
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        })
    </script>

    <script src="/static/js/chatroom_ui.js"></script>
    <script src="/static/js/chatroom_my_profile.js"></script>
    <script src="/static/js/chatroom_message.js"></script>
    <script src="/static/js/chatroom_file.js"></script>
    <script src="/static/js/chatroom.js"></script>

</body>

</html>
