<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}

    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/static/images/Neo-96.png" />
    <title>Neo's Magic</title>

    <link href="/static/css/gluttonous_snake/gluttonous_snake.css" rel="stylesheet" />
</head>

<body>
    <main>
        <canvas id="stage">
            NOT SUPPORT Canvas!
        </canvas>
    </main>

    <!-- jQuery -->
    <script src="{% static "vendors/jquery-3.2.1/jquery-3.2.1.js"%}"></script>

    <script src="/static/js/lib/gluttonous_snake/gluttonous_snake.js"></script>
</body>

</html>
