<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}

    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/static/images/Neo-96.png" />
    <title>Neo's Magic</title>

    <link href="/static/css/tetris/tetris.css" rel="stylesheet" />
</head>

<body>
    <!-- game switcher -->
    {% include 'game/switcher.html' with current_game='tetris' %}

    <!-- Main Contetn -->
    <div class="animation-content">
        <div class="stage" id="tetris">
            NOT SUPPORT ES6!
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static "vendors/jquery-3.2.1/jquery-3.2.1.js"%}"></script>

    <script src="/static/js/lib/tetris/tetris_game.js"></script>

</body>

</html>
